* {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, ol {
  list-style: none;
}
li {
  display: inline-block;
}
.wrap_head{
  height: 200px;
  width: auto;
  display: block;
  margin-bottom: 10px;
}
.head1 {
  padding-top: 5px;
  padding-bottom: 13px;
  text-align: center;
  background-color: rgba(10, 10, 10, 1);
}
.txt01 {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
